.back{
background: hsla(50, 100%, 58%, 1);

/* background: linear-gradient(0deg, rgb(252, 221, 62) 0%, hsla(44, 100%, 87%, 1) 100%); */

/* background: -moz-linear-gradient(0deg, rgb(252, 221, 62) 0%, hsla(44, 100%, 87%, 1) 100%); */

background: -webkit-linear-gradient(0deg, rgb(252, 221, 62) 0%, hsla(44, 100%, 87%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFDB28", endColorstr="#FFEDBB", GradientType=1 );
}


.image {
    background-image: url("../../images/Deconstructed\ food-amico2.png");
    background-size: contain;
    background-position: 93%;
    background-repeat: no-repeat;
    height: 100;
    padding: 10px;
}


.container{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 30%;
    margin-left: 130px;
    /* margin-bottom: px; */
}

.cover{
    display: flex;
    align-items: center;
    height: 97vh;
    
}

.text{
    font-family:calibri;
    font-weight:bold;
    letter-spacing: 2px;
    font-size: 60px;

}

.paragraph{
    font-family: monospace;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 50px;

}

.button{
    height: 2em;
    border-radius: 50px;
    background-color: black;
    margin: 1em 12em 1em 12em;
    font-family: monospace;
    border: 1px solid white;
    color: white;
}

.button:hover{
    transform: scale(0.9);
    cursor: pointer;
    }





